<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	resizeOnImport="false"
	backgroundColor="rgba(34,34,34,0)"
	useThumbDots="false"
	useFullscreenExpand="false"

>
  <image imageURL="images/Abstract1_17.jpg"
	thumbURL="thumbs/Abstract1_17.jpg"
	linkURL="images/Abstract1_17.jpg"
	linkTarget="_blank"
	sourcePath="/private/var/folders/s5/9knlrjsn4fv624hz7c40tht40000gn/T/com.microsoft.Outlook/Outlook Temp/Abstracts_currentA/Abstract1_17.jpg">
    <title><![CDATA[Abstract1_17]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Abstract2_17.jpg"
	thumbURL="thumbs/Abstract2_17.jpg"
	linkURL="images/Abstract2_17.jpg"
	linkTarget="_blank"
	sourcePath="/private/var/folders/s5/9knlrjsn4fv624hz7c40tht40000gn/T/com.microsoft.Outlook/Outlook Temp/Abstracts_currentA/Abstract2_17.jpg">
    <title><![CDATA[Abstract2_17]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Abstract3_17.jpg"
	thumbURL="thumbs/Abstract3_17.jpg"
	linkURL="images/Abstract3_17.jpg"
	linkTarget="_blank"
	sourcePath="/private/var/folders/s5/9knlrjsn4fv624hz7c40tht40000gn/T/com.microsoft.Outlook/Outlook Temp/Abstracts_currentA/Abstract3_17.jpg">
    <title><![CDATA[Abstract3_17]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Abstract4_17.jpg"
	thumbURL="thumbs/Abstract4_17.jpg"
	linkURL="images/Abstract4_17.jpg"
	linkTarget="_blank"
	sourcePath="/private/var/folders/s5/9knlrjsn4fv624hz7c40tht40000gn/T/com.microsoft.Outlook/Outlook Temp/Abstracts_currentA/Abstract4_17.jpg">
    <title><![CDATA[Abstract4_17]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Abstract5_17.jpg"
	thumbURL="thumbs/Abstract5_17.jpg"
	linkURL="images/Abstract5_17.jpg"
	linkTarget="_blank"
	sourcePath="/private/var/folders/s5/9knlrjsn4fv624hz7c40tht40000gn/T/com.microsoft.Outlook/Outlook Temp/Abstracts_currentA/Abstract5_17.jpg">
    <title><![CDATA[Abstract5_17]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Abstract6_17.jpg"
	thumbURL="thumbs/Abstract6_17.jpg"
	linkURL="images/Abstract6_17.jpg"
	linkTarget="_blank"
	sourcePath="/private/var/folders/s5/9knlrjsn4fv624hz7c40tht40000gn/T/com.microsoft.Outlook/Outlook Temp/Abstracts_currentA/Abstract6_17.jpg">
    <title><![CDATA[Abstract6_17]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Abstract7_17.jpg"
	thumbURL="thumbs/Abstract7_17.jpg"
	linkURL="images/Abstract7_17.jpg"
	linkTarget="_blank"
	sourcePath="/private/var/folders/s5/9knlrjsn4fv624hz7c40tht40000gn/T/com.microsoft.Outlook/Outlook Temp/Abstracts_currentA/Abstract7_17.jpg">
    <title><![CDATA[Abstract7_17]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Abstract8_17.jpg"
	thumbURL="thumbs/Abstract8_17.jpg"
	linkURL="images/Abstract8_17.jpg"
	linkTarget="_blank"
	sourcePath="/private/var/folders/s5/9knlrjsn4fv624hz7c40tht40000gn/T/com.microsoft.Outlook/Outlook Temp/Abstracts_currentA/Abstract8_17.jpg">
    <title><![CDATA[Abstract8_17]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Abstract9_17.jpg"
	thumbURL="thumbs/Abstract9_17.jpg"
	linkURL="images/Abstract9_17.jpg"
	linkTarget="_blank"
	sourcePath="/private/var/folders/s5/9knlrjsn4fv624hz7c40tht40000gn/T/com.microsoft.Outlook/Outlook Temp/Abstracts_currentA/Abstract9_17.jpg">
    <title><![CDATA[Abstract9_17]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Abstract10_17.jpg"
	thumbURL="thumbs/Abstract10_17.jpg"
	linkURL="images/Abstract10_17.jpg"
	linkTarget="_blank"
	sourcePath="/private/var/folders/s5/9knlrjsn4fv624hz7c40tht40000gn/T/com.microsoft.Outlook/Outlook Temp/Abstracts_currentB/Abstract10_17.jpg">
    <title><![CDATA[Abstract10_17]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Abstract11_17.jpg"
	thumbURL="thumbs/Abstract11_17.jpg"
	linkURL="images/Abstract11_17.jpg"
	linkTarget="_blank"
	sourcePath="/private/var/folders/s5/9knlrjsn4fv624hz7c40tht40000gn/T/com.microsoft.Outlook/Outlook Temp/Abstracts_currentB/Abstract11_17.jpg">
    <title><![CDATA[Abstract11_17]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Abstract13_17.jpg"
	thumbURL="thumbs/Abstract13_17.jpg"
	linkURL="images/Abstract13_17.jpg"
	linkTarget="_blank"
	sourcePath="/private/var/folders/s5/9knlrjsn4fv624hz7c40tht40000gn/T/com.microsoft.Outlook/Outlook Temp/Abstracts_currentB/Abstract13_17.jpg">
    <title><![CDATA[Abstract13_17]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Abstract14_17.jpg"
	thumbURL="thumbs/Abstract14_17.jpg"
	linkURL="images/Abstract14_17.jpg"
	linkTarget="_blank"
	sourcePath="/private/var/folders/s5/9knlrjsn4fv624hz7c40tht40000gn/T/com.microsoft.Outlook/Outlook Temp/Abstracts_currentB/Abstract14_17.jpg">
    <title><![CDATA[Abstract14_17]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Abstract15_17.jpg"
	thumbURL="thumbs/Abstract15_17.jpg"
	linkURL="images/Abstract15_17.jpg"
	linkTarget="_blank"
	sourcePath="/private/var/folders/s5/9knlrjsn4fv624hz7c40tht40000gn/T/com.microsoft.Outlook/Outlook Temp/Abstracts_currentB/Abstract15_17.jpg">
    <title><![CDATA[Abstract15_17]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Abstract16_17.jpg"
	thumbURL="thumbs/Abstract16_17.jpg"
	linkURL="images/Abstract16_17.jpg"
	linkTarget="_blank"
	sourcePath="/private/var/folders/s5/9knlrjsn4fv624hz7c40tht40000gn/T/com.microsoft.Outlook/Outlook Temp/Abstracts_currentB/Abstract16_17.jpg">
    <title><![CDATA[Abstract16_17]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Abstract17_17.jpg"
	thumbURL="thumbs/Abstract17_17.jpg"
	linkURL="images/Abstract17_17.jpg"
	linkTarget="_blank"
	sourcePath="/private/var/folders/s5/9knlrjsn4fv624hz7c40tht40000gn/T/com.microsoft.Outlook/Outlook Temp/Abstracts_currentB/Abstract17_17.jpg">
    <title><![CDATA[Abstract17_17]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Abstract18_17.jpg"
	thumbURL="thumbs/Abstract18_17.jpg"
	linkURL="images/Abstract18_17.jpg"
	linkTarget="_blank"
	sourcePath="/private/var/folders/s5/9knlrjsn4fv624hz7c40tht40000gn/T/com.microsoft.Outlook/Outlook Temp/Abstracts_currentB/Abstract18_17.jpg">
    <title><![CDATA[Abstract18_17]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Abstract19_17.jpg"
	thumbURL="thumbs/Abstract19_17.jpg"
	linkURL="images/Abstract19_17.jpg"
	linkTarget="_blank"
	sourcePath="/private/var/folders/s5/9knlrjsn4fv624hz7c40tht40000gn/T/com.microsoft.Outlook/Outlook Temp/Abstracts_currentB/Abstract19_17.jpg">
    <title><![CDATA[Abstract19_17]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Abstract20_17.jpg"
	thumbURL="thumbs/Abstract20_17.jpg"
	linkURL="images/Abstract20_17.jpg"
	linkTarget="_blank"
	sourcePath="/private/var/folders/s5/9knlrjsn4fv624hz7c40tht40000gn/T/com.microsoft.Outlook/Outlook Temp/Abstracts_currentB/Abstract20_17.jpg">
    <title><![CDATA[Abstract20_17]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Abstract21_17.jpg"
	thumbURL="thumbs/Abstract21_17.jpg"
	linkURL="images/Abstract21_17.jpg"
	linkTarget="_blank"
	sourcePath="/private/var/folders/s5/9knlrjsn4fv624hz7c40tht40000gn/T/com.microsoft.Outlook/Outlook Temp/Abstracts_currentB/Abstract21_17.jpg">
    <title><![CDATA[Abstract21_17]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Abstract22_17.jpg"
	thumbURL="thumbs/Abstract22_17.jpg"
	linkURL="images/Abstract22_17.jpg"
	linkTarget="_blank"
	sourcePath="/private/var/folders/s5/9knlrjsn4fv624hz7c40tht40000gn/T/com.microsoft.Outlook/Outlook Temp/Abstracts_currentB/Abstract22_17.jpg">
    <title><![CDATA[Abstract22_17]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Port.jpeg"
	thumbURL="thumbs/Port.jpeg"
	linkURL="images/Port.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/Jack/Desktop/Work/Janet 2017/Port.jpeg">
    <title><![CDATA[Port]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Skyline.jpeg"
	thumbURL="thumbs/Skyline.jpeg"
	linkURL="images/Skyline.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/Jack/Desktop/Work/Janet 2017/Skyline.jpeg">
    <title><![CDATA[Skyline]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>