<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	backgroundColor="rgba(34,34,34,0)"
	galleryWidth="90%"
	galleryHeight="60%"
	resizeOnImport="false"

>
  <image imageURL="images/How Much Do We Believe.jpeg"
	thumbURL="thumbs/How Much Do We Believe.jpeg"
	linkURL="images/How Much Do We Believe.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/Jack/Desktop/Work/Janet Mazenier/Janet Current/How Much Do We Believe.jpeg">
    <title><![CDATA[How Much Do We Believe]]></title>
    <caption><![CDATA[1200 cm x 1800 cm, Oil on linen]]></caption>
  </image>
  <image imageURL="images/Look Deep.jpeg"
	thumbURL="thumbs/Look Deep.jpeg"
	linkURL="images/Look Deep.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/Jack/Desktop/Work/Janet Mazenier/Janet Current/Look Deep.jpeg">
    <title><![CDATA[Look Deep]]></title>
    <caption><![CDATA[80.5cm x 120cm, Oil on linen]]></caption>
  </image>
  <image imageURL="images/Look Through.jpeg"
	thumbURL="thumbs/Look Through.jpeg"
	linkURL="images/Look Through.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/Jack/Desktop/Work/Janet Mazenier/Janet Current/Look Through.jpeg">
    <title><![CDATA[Look Through]]></title>
    <caption><![CDATA[1200 cm x 1800 cm, Oil on linen]]></caption>
  </image>
  <image imageURL="images/The Bed.jpeg"
	thumbURL="thumbs/The Bed.jpeg"
	linkURL="images/The Bed.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/Jack/Desktop/Work/Janet Mazenier/Janet Current/The Bed.jpeg">
    <title><![CDATA[The Bed]]></title>
    <caption><![CDATA[80.5cm x 120cm, Oil on linen]]></caption>
  </image>
  <image imageURL="images/The Chair.jpeg"
	thumbURL="thumbs/The Chair.jpeg"
	linkURL="images/The Chair.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/Jack/Desktop/Work/Janet Mazenier/Janet Current/The Chair.jpeg">
    <title><![CDATA[The Chair]]></title>
    <caption><![CDATA[80.5cm x 120cm, Oil on linen]]></caption>
  </image>
  <image imageURL="images/All That Glitters Is Not Gold.jpeg"
	thumbURL="thumbs/All That Glitters Is Not Gold.jpeg"
	linkURL="images/All That Glitters Is Not Gold.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/Jack/Desktop/Work/Janet Mazenier/Janet Current/All That Glitters Is Not Gold.jpeg">
    <title><![CDATA[All That Glitters Is Not Gold]]></title>
    <caption><![CDATA[74cm x 105cm, Oil on linen]]></caption>
  </image>
  <image imageURL="images/The Other Side.jpeg"
	thumbURL="thumbs/The Other Side.jpeg"
	linkURL="images/The Other Side.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/Jack/Desktop/Work/Janet Mazenier/Janet Current/The Other Side.jpeg">
    <title><![CDATA[The Other Side]]></title>
    <caption><![CDATA[80.5cm x 120cm, Oil on linen]]></caption>
  </image>
  <image imageURL="images/Shadow Core.jpeg"
	thumbURL="thumbs/Shadow Core.jpeg"
	linkURL="images/Shadow Core.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/Jack/GitHub/JANETMAZENIER/mobile/current-works-gallery/images/Shadow Core.jpeg">
    <title><![CDATA[Shadow Core]]></title>
    <caption><![CDATA[80.5cm x 120cm, Oil on linen]]></caption>
  </image>
  <image imageURL="images/Insure It.jpeg"
	thumbURL="thumbs/Insure It.jpeg"
	linkURL="images/Insure It.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/Jack/GitHub/JANETMAZENIER/mobile/current-works-gallery/images/Insure It.jpeg">
    <title><![CDATA[Yellow Enough to Cry]]></title>
    <caption><![CDATA[1200 cm x 3600 cm, Oil on linen]]></caption>
  </image>
  <image imageURL="images/Bank It.jpeg"
	thumbURL="thumbs/Bank It.jpeg"
	linkURL="images/Bank It.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/Jack/GitHub/JANETMAZENIER/mobile/current-works-gallery/images/Bank It.jpeg">
    <title><![CDATA[Are we moving too Fast]]></title>
    <caption><![CDATA[1200 cm x 1800 cm, Oil on linen]]></caption>
  </image>
  <image imageURL="images/Advise It.jpeg"
	thumbURL="thumbs/Advise It.jpeg"
	linkURL="images/Advise It.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/Jack/GitHub/JANETMAZENIER/mobile/current-works-gallery/images/Advise It.jpeg">
    <title><![CDATA[Look out, look in]]></title>
    <caption><![CDATA[1200 cm x 1800 cm, Oil on linen]]></caption>
  </image>
  <image imageURL="images/Connect It.jpg"
	thumbURL="thumbs/Connect It.jpg"
	linkURL="images/Connect It.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jack/GitHub/JANETMAZENIER/mobile/current-works-gallery/images/Connect It.jpg">
    <title><![CDATA[The World goes at LightSpeed now]]></title>
    <caption><![CDATA[1200 cm x 1800 cm, Oil on linen]]></caption>
  </image>
  <image imageURL="images/1.jpeg"
	thumbURL="thumbs/1.jpeg"
	linkURL="images/1.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/Jack/GitHub/JANETMAZENIER/mobile/current-works-gallery/images/1.jpeg">
    <title><![CDATA[The Power lies Within]]></title>
    <caption><![CDATA[1200 cm x 1800 cm, Oil on board]]></caption>
  </image>
  <image imageURL="images/Study_it.jpeg"
	thumbURL="thumbs/Study_it.jpeg"
	linkURL="images/Study_it.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/Jack/GitHub/JANETMAZENIER/mobile/current-works-gallery/images/Study_it.jpeg">
    <title><![CDATA[Fatal fails (sic)]]></title>
    <caption><![CDATA[1200 cm x 1800 cm, Oil on linen]]></caption>
  </image>
  <image imageURL="images/Step On It.jpg"
	thumbURL="thumbs/Step On It.jpg"
	linkURL="images/Step On It.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jack/Desktop/Work/Janet Mazenier/Janet Current/Step On It.jpg">
    <title><![CDATA[Step On It]]></title>
    <caption><![CDATA[1200 cm x 1800 cm, Oil on linen]]></caption>
  </image>
  <image imageURL="images/Hard Drive.jpg"
	thumbURL="thumbs/Hard Drive.jpg"
	linkURL="images/Hard Drive.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jack/GitHub/JANETMAZENIER/mobile/current-works-gallery/images/Hard Drive.jpg">
    <title><![CDATA[Hard Drive]]></title>
    <caption><![CDATA[60cm x 40cm, Oil on board]]></caption>
  </image>
  <image imageURL="images/Glasses.jpg"
	thumbURL="thumbs/Glasses.jpg"
	linkURL="images/Glasses.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jack/GitHub/JANETMAZENIER/mobile/current-works-gallery/images/Glasses.jpg">
    <title><![CDATA[Glasses]]></title>
    <caption><![CDATA[60cm x 40cm, Oil on board]]></caption>
  </image>
  <image imageURL="images/Must Haves.jpg"
	thumbURL="thumbs/Must Haves.jpg"
	linkURL="images/Must Haves.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Jack/GitHub/JANETMAZENIER/mobile/current-works-gallery/images/Must Haves.jpg">
    <title><![CDATA[Must Haves]]></title>
    <caption><![CDATA[60cm x 40cm, Oil on board]]></caption>
  </image>
</juiceboxgallery>