<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	backgroundColor="rgba(34,34,34,0)"
	galleryWidth="90%"
	galleryHeight="60%"
	resizeOnImport="false"

>
  <image imageURL="images/Arrival.jpeg"
	thumbURL="thumbs/Arrival.jpeg"
	linkURL="images/Arrival.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/Jack/Desktop/Janet 2017/Arrival.jpeg">
    <title><![CDATA[Arrival]]></title>
    <caption><![CDATA[75cm x 105cm, Oil On Linen]]></caption>
  </image>
  <image imageURL="images/Dani and Harper.jpeg"
	thumbURL="thumbs/Dani and Harper.jpeg"
	linkURL="images/Dani and Harper.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/Jack/Desktop/Janet 2017/Dani and Harper.jpeg">
    <title><![CDATA[Dani and Harper]]></title>
    <caption><![CDATA[75cm x 105cm, Oil On Linen]]></caption>
  </image>
  <image imageURL="images/Gantry.jpeg"
	thumbURL="thumbs/Gantry.jpeg"
	linkURL="images/Gantry.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/Jack/Desktop/Janet 2017/Gantry.jpeg">
    <title><![CDATA[Gantry]]></title>
    <caption><![CDATA[75cm x 105cm, Oil On Linen]]></caption>
  </image>
  <image imageURL="images/Port.jpeg"
	thumbURL="thumbs/Port.jpeg"
	linkURL="images/Port.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/Jack/Desktop/Janet 2017/Port.jpeg">
    <title><![CDATA[Port]]></title>
    <caption><![CDATA[75cm x 105cm, Oil On Linen]]></caption>
  </image>
  <image imageURL="images/Skyline.jpeg"
	thumbURL="thumbs/Skyline.jpeg"
	linkURL="images/Skyline.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/Jack/Desktop/Janet 2017/Skyline.jpeg">
    <title><![CDATA[Skyline]]></title>
    <caption><![CDATA[1200cm x 1800cm, Oil On Linen]]></caption>
  </image>
</juiceboxgallery>